{{ define "main"}}
<main>
    <article>
        <h1>{{ .Title }}</h1>
        {{ if eq .Page.Lang "cs" }}
        <p><date class="post-date">{{ .Date.Day }}. {{ index $.Site.Data.mesice (printf "%d" .Date.Month) }} {{ .Date.Year }}</p>
        {{ else }}
        <p><date class="post-date">{{ .Date.Format "2 Jan 2006" }}</p>
        {{ end }}
        {{ .Content }}
        <ul class="article-tag-list">
            {{ range (.GetTerms "tags") }}
            <li><a href="{{ .Permalink }}"># {{ .LinkTitle }}</a></li>
            {{ end }}
        </ul>
    </article>
</main>
{{ end }}
